{% extends "wrapper.html" %}
{% block body %}
<main>
    <header>
        <nav></nav>
    </header>
    <img class= "menu" src="/public/images/threelines.png">
        <h1 class="name"> Charlotte</h1>
        <img style ="margin-left:10px;"class= "profile" src="/public/images/ch.png">





        <ul class="month">
          <li>
            August<br>
            <span style="font-size:18px">2017</span>
          </li>
        </ul>

      
      

 

           <div class="chart" style="position: relative; top: 50px; z-index: 3; background: transparent; margin-left:1px;">
                </div>

           <div class="chart2" style="position: relative; z-index: 3; margin-top:-100px; background: transparent; margin-left:1px;">
                </div>
        <div class="chart3" style="position: relative; z-index: 3; margin-top:10px; background: transparent; margin-left:1px;">
                </div>

        <div style="position: relative; z-index: 1; margin-top:329px; background: transparent; margin-left:90px;"> <svg width="400" height="110">
     <rect width="135" height="2050" style="fill:yellow;" />
                    </svg>
        </div>
     <div style="position: relative; z-index: 1; margin-top:-54px; background: transparent; margin-left:90px;"> <svg width="400" height="110">
     <rect width="135" height="200" style="fill:yellow;" />
                    </svg>
        </div>
      <div style="position: absolute; top: 150px; z-index: 1; ">

          <ul class="days" style="margin-top:-45px; margin-left:5px; background: transparent; " >
       <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
           <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li lass="alert">18</li>
        <li class="alert">19</li>
        <li >20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
      </ul>




    
      <script>
 

            </script>
            
        <footer>
            <nav></nav>
        </footer>
</main>

{% endblock %}