<!DOCTYPE html>
<html lang="en" >
<head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Link to Reset CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Link to Demo 1 CSS -->
    <link rel="stylesheet" href="css/demo1.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/lab.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block link %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="lab-context" content="placeholder">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block meta %}{% endblock %}
    <title>{% block title %}Lyvia : Caring for your Parents{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    <!-- Javascript Block -->
    {% block javascript %}
    <!-- Load jQuery from an exteranl CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- Load Popper Javascript from an exteranl CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Load Bootstrap from an exteranl CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Main JavaScript -->
    <script src="js/demo1.js"></script>
    {% endblock %}

  </body>
</html>
